:root {
  --primary-color: #3a9046;
  --secondary-color: #ededee;
  --tertiary-color: #ffc962;
}
*{
  box-sizing: border-box;
  margin: 0;
  padding:0;
}
body{
  width: 100vw;
  max-width: 1200px;
  border: 3px solid red;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  overflow-x: hidden;
}
.container{
  width: 100%;
  padding: 0 30px;
}
nav,header,section{
  width: 100vw;
  max-width: 1200px;
}
.navbar {
  height: 10vh;
  position: sticky;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  margin-bottom: 30px;
}
.navbar h1 span {
  color: var(--primary-color);
}
div.search {
  display: flex;
  background-color: var(--secondary-color);
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  border-radius: 5px;
}
.search input {
  padding: 10px;
  border-radius: 5px;
  border: none;
}
.search input:focus {
  outline: none;
}
.search .fa-search {
  color: var(--primary-color);
  padding: 5px;
}
.cart {
  position: relative;
  cursor: pointer;
}
.cart .fa-solid {
  color: var(--primary-color);
}
.cart-amount {
  background-color: var(--tertiary-color);
  padding: 5px;
  border-radius: 3px;
  color: var(--primary-color);
  position: absolute;
  top: -20px;
  right: -20%;
}
.hero {
  display: flex;
  flex-direction: column;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  
}
.hero-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--primary-color);
  font-size: 24px;
}
.hero-title h1 {
  text-align: center;
}
.hero-title span {
  color: var(--tertiary-color);
}
.hero-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.hero-button button {
  padding: 20px;
  color: var(--primary-color);
  font-size: 16px;
  font-weight: bold;
  background-color: var(--tertiary-color);
  border: none;
  border-radius: 5px;
  text-align: center;
  margin: 30px;
  width: 100%;
}
.hero-button button:hover {
  color: var(--secondary-color);
  background-color: var(--primary-color);
}
.hero-image {
  border: 2px solid red;
}
.hero-image img {
  width: 100%;
  height: 100%;
  border-radius: 30px;
}
section h2 {
  margin-top: 3rem;
  text-align: center;
  text-transform: uppercase;
  padding: 2rem;
  color: var(--primary-color);
  font-size: 30px;
  font-weight: bold;
}
.product {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 20px;
  margin: 0;
  padding: 0;
}
.product-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  padding: 10px;
}
.product-info img {
  width: 150px;
  height: 150px;
  border-radius: 10px;
}
.product-details {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.product-details h2 {
  text-align: center;
  padding-top: 20px;
  width: 15px;
}
.product-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}
.product-price h3 {
  font-size: 20px;
  background-color: var(--primary-color);
  padding: 5px;
  color: var(--secondary-color);
  border-radius: 2px;
}
.cart-overlay {
  position: fixed;
  background-color: var(--secondary-color);
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  visibility: hidden;
}
.show {
  visibility: visible;
}
.cartt {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 70vh;
  width: 40vw;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 3rem;
  color: var(--primary-color);
  border-radius: 10px;
  overflow: scroll;
  z-index: 1;
  box-shadow: 10px 0px 20px 10px rgba(0, 0, 0, 0.2);
  display: none;
}
.pop {
  display: block;
}
.cartt h2 {
  text-transform: uppercase;
  text-align: center;
  color: var(--tertiary-color);
  font-weight: bolder;
  font-size: 28px;
}
div.clearing {
  display: flex;
  justify-content: center;
  align-items: center;
}
button.clear {
  padding: 10px;
  color: var(--secondary-color);
  background-color: red;
  border: none;
  font-size: 16px;
  border-radius: 5px;
  font-weight: bold;
  text-transform: capitalize;
  margin: 10px;
}
.cartt h3 {
  color: #000;
}
.cartt h4 {
  text-transform: capitalize;
  font-size: 22px;
  margin-top: 50px;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  padding: 15px;
  border-radius: 10px;
  font-weight: bolder;
  box-shadow: 1px 2px 3px 1px rgba(0, 0, 0, 0.7);
}
span.close {
  background-color: black;
  color: white;
  position: absolute;
  left: 0;
  top: 0%;
  font-size: 16px;
  padding: 10px;
}
div.cart-items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  line-height: 1.5rem;
  border: 1px solid var(--primary-color);
  box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.6);
  padding: 10px;
}

.cart-content {
  display: grid;
  grid-template-columns: auto 1fr 1fr auto;
  gap: 20px;
  justify-content: center;
  align-items: center;
  margin: 2rem;
}
h3.sumUpdate {
  background-color: var(--secondary-color);
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  padding: 5px;
}
.cart-update {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.fa-xmark {
  color: red;
  font-size: 16px;
}
.cart-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.cart-footer button {
  padding: 10px;
  border-radius: 5px;
  border: none;
  color: white;
  background-color: var(--primary-color);
  margin: 1rem 0;
  font-size: 14px;
  font-weight: bolder;
}
.cart-footer h3 {
  text-align: center;
}
.paymented {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--secondary-color);
  display: none;
}
.show-paymented {
  display: block;
}
.payment {
  position: fixed;
  background-color: var(--tertiary-color);
  right: 50%;
  top: 50%;
  width: 35vw;
  height: 60vh;
  transform: translate(50%, -50%);
  padding: 30px;
  border-radius: 10px 10px 0 0;
  box-shadow: 1px 2px 9px 10px rgba(0, 0, 0, 0.4);
  visibility: hidden;
}
.show-payment {
  visibility: visible;
}
.payment h1 {
  text-align: center;
  margin-bottom: 10px;
}
.payment label {
  display: block;
  margin-bottom: 5px;
  text-align: center;
  color: var(--primary-color);
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
}
#paymentX {
  background-color: white;
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px;
  border-radius: 4px;
}
.payment input {
  padding: 10px;
  border-radius: 5px;
  border: none;
  font-size: 14px;
  font-weight: bold;
  width: 100%;
  margin-bottom: 10px;
}
.payment input:focus {
  outline: none;
}
.card-info {
  text-transform: capitalize;
}
div.card-icons {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  width: 100px;
}
div.card-icons img {
  width: 100%;
  margin: 10px;
}
.card-info {
  display: flex;
  gap: 10px;
}
button.pay-button {
  padding: 10px;
  width: 100%;
  border: none;
  font-size: 16px;
  font-weight: bold;
  position: absolute;
  left: 0;
  height: 40px;
  bottom: -40px;
  border-radius: 0 0 10px 10px;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  cursor: pointer;
}

@media(max-width: 377px) {
  .container{
    width: 100%;
    padding: 0 20px;
    overflow-x: hidden;
  }
.navbar{
  height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
div.search {
  display: flex;
  flex-direction: column;
  background-color: var(--secondary-color);
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  border-radius: 5px;
  width: 100%;
}
.search input {
  padding: 5px;
  border-radius: 2px;
  border: none;
  width: 100%;
  text-align: center;
}
.search .fa-search {
  color: var(--primary-color);
  padding: 5px;
  font-size: 10px;
}
.cart {
  position: relative;
  cursor: pointer;
}
.cart .fa-solid {
  color: var(--primary-color);
  font-size: 16px;
}
.cart-amount {
  background-color: var(--tertiary-color);
  padding: 1px;
  border-radius: 1px;
  color: var(--primary-color);
  position: absolute;
  top: -20px;
  right: -20%;
}
.hero-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--primary-color);
}
.hero-title h1 {
  text-align: center;
  font-size: 16px;
}
.hero-title span {
  color: var(--tertiary-color);
}
.hero-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.hero-button button {
  padding: 20px;
  color: var(--primary-color);
  font-size: 16px;
  font-weight: bold;
  background-color: var(--tertiary-color);
  border: none;
  border-radius: 5px;
  text-align: center;
  margin: 30px;
  width: 100%;
}
.hero-button button:hover {
  color: var(--secondary-color);
  background-color: var(--primary-color);
}
.hero-image {
  border: 2px solid red;
}
.hero-image img {
  width: 100%;
  height: 100%;
  border-radius: 30px;
}
}
















/* @media (max-width: 415px) {
  body {
    overflow-x: hidden;
  }
  nav {
    position: static;
  }
  .container {
    max-width: 415px;
    margin: 0;
  }
  .navbar {
    display: flex;
    flex-direction: column;
    align-items: space-between;
    justify-content: space-between;
    gap: 20px;
  }
  header {
    width: 100%;
  }
  .hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  .hero-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--primary-color);
    font-size: 14px;
  }
  .hero-title h1 {
    text-align: center;
  }
  .hero-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .hero-image img {
    width: 250px;
    height: 250px;
    border-radius: 20px;
    display: none;
  }
  .product {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    width: 100%;
    max-width: 400px;
  }
  .cartt {
    width: 80vw;
  }
}

@media (max-width: 550px) {
  nav {
    position: static;
  }
  .hero {
    margin-top: 200px;
    padding-top: 50px;
  }
  .hero-image img {
    width: 250px;
    height: 250px;
    border-radius: 20px;
    display: none;
  }
}

@media (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
  nav {
    height: 20vh;
  }
  .navbar {
    display: flex;
    flex-direction: column;
    align-items: space-between;
    justify-content: space-between;
    gap: 20px;
  }
  header {
    width: 100%;
    height: calc(80vh - 20vh);
  }
  .hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  .hero-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--primary-color);
    font-size: 20px;
  }
  .hero-title h1 {
    text-align: center;
  }
  .hero-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .hero-image img {
    width: 100%;
    border-radius: 20px;
  }
  .product {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 10px;
    margin: 0;
    padding: 0;
  }
  .cartt {
    width: 70vw;
  }
}

@media (max-width: 992px) {
  body {
    overflow-x: hidden;
  }
  nav {
    height: 10vh;
  }
  .navbar {
    display: flex;
    align-items: space-between;
    justify-content: space-between;
    gap: 20px;
  }
  header {
    width: 100%;
    height: calc(80vh - 10vh);
  }
  .hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  .hero-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--primary-color);
    font-size: 24px;
  }
  .hero-title h1 {
    text-align: left;
  }
  .hero-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .hero-image img {
    width: 100%;
    border-radius: 20px;
  }
  .product {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 15px;
    margin: 0;
    padding: 0;
  }
  .cartt {
    width: 70vw;
  }
}

@media (max-width: 1025px) {
  .cartt {
    width: 70vw;
  }
}

@media (max-width: 1200px) {
  body {
    overflow-x: hidden;
  }
  nav {
    height: 10vh;
  }
  .navbar {
    display: flex;
    align-items: space-between;
    justify-content: space-between;
    gap: 20px;
  }
  header {
    width: 100%;
    height: calc(80vh - 10vh);
  }
  .hero {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 20px;
  }
  .hero-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--primary-color);
    font-size: 24px;
  }
  .hero-title h1 {
    text-align: left;
  }
  .hero-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .hero-image img {
    width: 100%;
    border-radius: 20px;
  }
  .product {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 15px;
    margin: 0;
    padding: 0;
  }
} */ */ */
